.fetch-button {
    margin-left: 1rem;
}


img {

    height: auto;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header a {
    margin: 1rem;
    color: black;
}